| {% extends "conference_main/2021/base.pug" %}
| {% load pipeline %}
| {% load static %}

| {% block jumbotron %}
div.jumbotron.jumbotron-fluid.small-header.mb-0(style="background: linear-gradient(180deg, #E0F0FF 0%, rgba(224, 240, 255, 0) 100%);")
  .container
    .hero-content.text-center.py-5.mt-5
      .h2 "Blender is..." Video Submission

| {% endblock jumbotron %}


| {% block content %}
.container
  .row
    .col-md-8.offset-md-2
      | {% block content_main %}
      | {{ flatpage.content }}
      | {% endblock content_main %}

| {% endblock content %}
