| {% extends "conference_main/base_with_sidebar.pug" %}

| {% block content_main %}
h2 My Festival Submissions

| {% if object_list %}
table.table-no-box
	tbody
		| {% for o in object_list %}
		tr
			td(style="width: 4ch;")
				span.text-muted.text-nowrap {{ o.edition.year }}
			td
				a(href="{% url 'festival_entry_detail' edition_path=o.edition.path pk=o.pk %}") {{ o.title }}
			td.text-right
				span.badge.badge-secondary(class="status-{{ o.status }}")
					| {% if o.status == 'rejected' %}
					| NOT ACCEPTED
					| {% else %}
					| {{o.status | upper }}
					| {% endif %}
	| {% endfor %}
| {% else %}
div Your Suzanne Awards Festival entries will show up here.
| {% endif %}

| {% endblock content_main %}
