| {% load micawber_tags %}
| {% load conference_main %}

.box.p-4
	.d-flex
		h2 {{ object.title }}

		.ml-auto
			| {% if not user.is_authenticated %}
			a.vote-stars-login(href="{{ request.get_full_path | login_url_with_redirect }}")
				span.px-3 Login to vote
			| {% elif permissions.can_vote %}
			.vote-stars(data-vote-url="{% url 'festival_entry_vote' edition_path=object.edition.path pk=object.pk %}")
				button.vote-star(
					data-rating=5,
					data-is-filled=(rating and rating >= 5),
					onclick="ratingStarToggle(event)",
					title="5 stars")
					i.i-star
				button.vote-star(
					data-rating=4,
					data-is-filled=(rating and rating >= 4),
					onclick="ratingStarToggle(event)",
					title="4 stars")
					i.i-star
				button.vote-star(
					data-rating=3,
					data-is-filled=(rating and rating >= 3),
					onclick="ratingStarToggle(event)",
					title="3 stars")
					i.i-star
				button.vote-star(
					data-rating=2,
					data-is-filled=(rating and rating >= 2),
					onclick="ratingStarToggle(event)",
					title="2 stars")
					i.i-star
				button.vote-star(
					data-rating=1,
					data-is-filled=(rating and rating >= 1),
					onclick="ratingStarToggle(event)",
					title="1 star")
					i.i-star
			| {% endif %}

	.video-container.rounded(style="background-color: black")
		| {{ object.video_link | oembed }}

	| {{ object.description | urlizetrunc:40 | linebreaks }}

	| {% if object.website %}
	a.btn(href="{{ object.website }}")
		i.i-link
		span Website
	| {% endif %}
	| {% if request.user.is_staff %}
	a.btn.btn-admin(
		href="{% url 'festival_entry_detail' edition_path=edition.path pk=object.pk %}")
		| Review
	| {% endif %}

details.mt-3
	summary Credits
	div {{ object.credits | linebreaks }}
