| {% extends "conference_main/base_simple.pug" %}
| {% load crispy_forms_tags %}
| {% load micawber_tags %}
| {% load static %}
| {% load conference_main %}

| {% block head_opengraph %}
meta(property='og:title', content='{{ object.title }} - Suzanne Awards Festival — {{ object.edition.title }}')
meta(name='twitter:title', content='{{ object.title }} - Suzanne Awards Festival — {{ object.edition.title }}')
| {% if object.description %}
meta(property='og:description', content='{{ object.description }}')
meta(name='twitter:description', content='{{ object.description }}')
| {% endif %}
| {% if edition.thumbnail %}
meta(property='og:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
meta(name='twitter:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
| {% else %}
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
| {% endif %}
| {% endblock head_opengraph %}

| {% block content %}
.container.mt-3
	.row
		.col
			.box.mb-3
				| {% if permissions.can_change %}
				//- Status.
				.row
					.col-8
						.d-flex
							div
								small.text-muted.d-block Submitted on
								span(title="{{ object.created_at | date:'D d M, Y @ H:i' }}")
									| {{ object.created_at | date:'l d M, Y' }}

							| {% if object.category %}
							div.ml-4
								small.text-muted.d-block Category
								span
									| {{ object.category | title }}
							| {% endif %}

							div.ml-4
								small.text-muted.d-block Status
								span.badge.badge-primary(class="status-{{ object.status }}")
									| {% if object.status == 'rejected' %}NOT ACCEPTED{% else %}{{ object.status | upper }}{% endif %}

					.col-4
						.d-flex
							.ml-auto
								.btn-row
									a.btn(
										href="{% url 'festival_entry_update' edition_path=object.edition.path pk=object.pk %}")
										i.i-edit
										span Edit Submission
									| {% if request.user.is_superuser %}
									a.btn.btn-admin(
										href="{% url 'admin:conference_main_festivalentry_change' object.pk %}")
										| Admin
									| {% endif %}
					| {% endif %}

					.p-4
						.d-flex
							h2.me-2 {{ object.title }}

							.ml-auto
								| {% if not user.is_authenticated %}
								a.vote-stars-login(href="{{ request.get_full_path | login_url_with_redirect }}")
									span.px-3 Login to vote
								| {% elif permissions.can_vote %}
								.vote-stars(data-vote-url="{% url 'festival_entry_vote' edition_path=object.edition.path pk=object.pk %}")
									button.vote-star(
										data-rating=5,
										data-is-filled=(rating and rating >= 5),
										onclick="ratingStarToggle(event)")
										i.i-star
									button.vote-star(
										data-rating=4,
										data-is-filled=(rating and rating >= 4),
										onclick="ratingStarToggle(event)")
										i.i-star
									button.vote-star(
										data-rating=3,
										data-is-filled=(rating and rating >= 3),
										onclick="ratingStarToggle(event)")
										i.i-star
									button.vote-star(
										data-rating=2,
										data-is-filled=(rating and rating >= 2),
										onclick="ratingStarToggle(event)")
										i.i-star
									button.vote-star(
										data-rating=1,
										data-is-filled=(rating and rating >= 1),
										onclick="ratingStarToggle(event)")
										i.i-star
								| {% endif %}

						.video-container
							| {{ object.video_link | oembed }}

						| {{ object.description | urlizetrunc:40 | linebreaks }}

						hr.my-4

						h3 Credits
						p {{ object.credits | linebreaks }}

						| {% if object.website %}
						p {{ object.website | urlizetrunc:40 }}
						| {% endif %}

			//- Messages exchange.
			| {% include 'conference_main/components/message_exchange.pug' with message_exchange=object.messages.all %}

| {% endblock content %}
