| {% extends "conference_main/base_simple.pug" %}
| {% load crispy_forms_tags %}
| {% load static %}

| {% block header %}
| {% block jumbotron %}
| {% with title="Suzanne Awards "|add:edition.path subtitle="Submit your entry to the animation festival." %}
| {% include "conference_main/components/hero.pug" with title=title subtitle=subtitle show_gradient=True show_overlay=True %}
| {% endwith %}
| {% endblock jumbotron %}
| {% endblock header %}

| {% block content %}
.container
	.box
		.p-3
			p Make sure you read the #[a(href="{% url 'festival' edition_path=edition.path %}") Submission Guidelines] before submitting your film.

		.p-3
			form(action="{% url 'festival_entry_submit' edition_path=edition.path %}", method="post")
				.form-group
					| {% csrf_token %}
					| {% crispy form %}
					.d-flex
						button.btn.btn-primary.px-5.ml-auto(type='submit')
							| Submit Festival Entry
| {% endblock content %}
