| {% extends "conference_main/base_simple.pug" %}

| {% block admin_button_page %}
a.whoosh(href="{% url 'admin:conference_main_festivalentry_changelist' %}?edition__id__exact={{ edition.id }}")
	i.i-tv
| {% endblock %}

| {% block content %}
.container.mt-3
	.row.mt-4.mb-3
		.col-md-12
			h1
				| Suzanne Awards
				span.text-muted.ml-2 {{ edition.title }}
			h2 Festival Entries
	.row
		| {% if festival_entries %}
		.col-md-4
			.overflow-auto(style="max-height: 70vh;")
				ul.nav-pills.fs-sm
					| {% for o in festival_entries %}
					li.nav-pills-item
						//- We need to use this weird '&#x0023;' instead of '#' because PyPugJS messes up the escaping.
						a.d-flex.text-decoration-none(
							class="js-festival-entry",
							href="&#x0023;{{ o.pk }}",
							id="festival-entry-{{ o.pk }}",
							onclick="handleFestivalEntryClick(event)",
							data-festival-entry-url="{% url 'festival_entry_detail' edition_path=edition.path pk=o.pk %}")
							span.ml-2(style="text-wrap: balance	") {{ o.title }}

							| {% if o.current_user_rating %}
							.text-muted.ml-auto.ps-3(title="Your rating", style="white-space: nowrap")
								i.i-star.mr-1
								| {{ o.current_user_rating }}
							| {% endif %}
					| {% endfor %}

		.col-md-8
			#festival-entry-details
		| {% else %}
		.col-md-8.offset-md-2
			.box.p-4
				h2 Festival Entries - {{ edition.title }}
				p There are no festival entries for this edition yet.
		| {% endif %}

| {% endblock content %}

| {% block javascript-page %}
script.
	function handleFestivalEntryClick(e) {
		let element = e.currentTarget;
		loadFestivalEntry(element);
	}

	function loadFestivalEntry(element) {
		$.get({
			url: element.dataset.festivalEntryUrl,
			dataType: 'html',
			success: function (data) {
				$("#festival-entry-details").html(data);
				$(".active").removeClass("active");
				$(element).parent().addClass("active");
			}
		});
	}

	$(document).ready(function() {
		if (location.hash) {
			let entry = $("#festival-entry-" + location.hash.substring(1)).first()[0];
			loadFestivalEntry(entry);
			entry.focus();

		} else {
			loadFestivalEntry($(".js-festival-entry").first()[0]);
		}
	})
| {% endblock javascript-page %}
