| {% load pipeline %}
| {% load static %}

footer
	.container
		.navbar-footer
			ul
				li.footer-logo-container
					a.footer-logo(href="{% if edition %}{% url 'homepage' edition_path=edition.path %}{% else %}/{% endif %}")
						{% if edition.logo_small %}
						img(src="{{ edition.logo_small.url }}", alt="{{ edition.title }}")
						{% elif edition.logo %}
						img(src="{{ edition.logo.url }}", alt="{{ edition.title }}")
						{% else %}
						img(src="{% static 'images/BCON_logo.svg'%}", alt="{{ edition.title }}")
						{% endif %}

			ul
				| {% if edition and edition.flatpage_call_for_participation_published %}
				li
					a(href="{% url 'call_for_participation' edition_path=edition.path %}") Call for Participation
				| {% endif %}

				| {% if edition and edition.flatpage_location_published %}
				li
					a(href="{% url 'location' edition_path=edition.path %}") Location
				| {% endif %}

				| {% if edition and edition.flatpage_festival_published %}
				li
					a(href="{% url 'festival' edition_path=edition.path %}") Suzanne Awards
				| {% endif %}

				| {% if edition and edition.schedule_status == 'proposed' or edition.schedule_status == 'final' %}
				li
					a(href="{% url 'schedule' edition_path=edition.path %}") Schedule
				| {% endif %}

				| {% if edition and edition.speakers_viewable %}
				li
					a(href="{% url 'speakers' edition_path=edition.path %}") Speakers
				| {% endif %}

				| {% if edition and not edition.is_archived and edition.festival_voting_open %}
				li
					a(href="{% url 'festival_entries_vote' edition_path=edition.path %}") Vote for Suzanne Awards
				| {% endif %}

				| {% if edition.social_hashtag %}
				li
					a(href="https://x.com/search?q=%23{{ edition.social_hashtag }}&src=typed_query",
						target="_blank",
						title="Follow the hashtag {{ edition.social_hashtag }} on X")
						| &#35;{{ edition.social_hashtag }}
				| {% endif %}

				li
					a(href="https://twitter.com/blenderconf",
						target="_blank",
						title="Follow @BlenderConf on Twitter")
						| #[i.i-twitter]
	hr
	.container
		.justify-content-center.navbar-footer
			| {% if main_menu_editions|length >= 2 or edition not in main_menu_editions and main_menu_editions|length >= 1 %}
			{# TODO: check media queries breakpoints #}
			ul.mb-2.mb-lg-0
				li
					button.btn.dropdown-toggle.py-0(
						aria-expanded='false',
						aria-haspopup='true',
						class="js-dropdown-toggle",
						data-toggle-menu-id="nav-edition-menu",
						id="nav-edition-dropdown")
						| Editions

					.dropdown-menu.dropdown-menu-left.dropdown-menu-bottom(
						aria-labelledby='nav-edition-dropdown',
						class="js-dropdown-menu",
						id="nav-edition-menu")
						| {% for menu_edition in main_menu_editions %}
						a.dropdown-item(
							class="{% if menu_edition == edition %}active{% endif %}",
							href="{% url 'homepage' edition_path=menu_edition.path %}")
							{{ menu_edition.title }}
						| {% endfor %}
				| {% endif %}

			ul
				li.fs-sm
					a(href="/code-of-conduct/") Code of Conduct
				li.fs-sm
					a(href="/hosting-official-bcon/") Hosting an Official BCON

#hop(title='Be awesome in space')
	svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
		path(d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z')
