| {% load pipeline %}
| {% load static %}

nav.nav-global(role='navigation')
	.nav-global-container
		nav
			a.nav-global-logo(
				href="{% if edition and edition.path %}{% url 'homepage' edition_path=edition.path %}{% else %}/{% endif %}",
				class="{% if request.path == '/' %}is-active{% endif %}")
				| {% include "conference_main/_navbar_logo.pug" with show_date=True %}

			button.nav-global-logo.js-dropdown-toggle(data-toggle-menu-id='nav-global-nav-links')
				{% if edition.logo_small %}
				img.me-1(src="{{ edition.logo_small.url }}", alt="{{ edition.title }}")
				{% elif edition.logo %}
				img.me-1(src="{{ edition.logo.url }}", alt="{{ edition.title }}")
				{% else %}
				img.me-1(src="{% static 'images/BCON_logo.svg'%}", alt="Blender Conference")
				{% endif %}

				svg.nav-global-icon.nav-global-icon-dropdown-toggle(height='100px' width='100px' viewbox='0 0 1000 1000')
					path(d='m 206.53824,376.41174 a 42,42 0 0 1 71,-29 l 221,220 220,-220 a 42,42 0 1 1 59,59 l -250,250 a 42,42 0 0 1 -59,0 l -250,-250 a 42,42 0 0 1 -12,-30 z')

			ul#nav-global-nav-links.nav-global-nav-links.nav-global-dropdown(
				class="js-nav-global-dropdown js-dropdown-menu"
			)
				| {% include "conference_main/_navbar_menu_items.pug" %}
				| {% block extra_navigation_item %}
				| {% endblock extra_navigation_item %}

			ul.nav-global-links-right
				| {# Hide Buy Tickets button when in ticket overview. #}
				| {% if '/tickets/overview/' not in request.path %}
				| {# We have to compare strings, because Django can't handle enum values in templates #}
				| {% if edition and edition.ticket_sale_status == 'open' %}
				li.d-lg-inline-flex.d-none
					a.btn.btn-accent(href="{% url 'tickets:products-table' %}")
						i.i-ticket
						span Buy tickets
				| {% endif %}
				| {% endif %}

				li
					button.js-toggle-theme-btn
						i.i-adjust.js-toggle-theme-btn-icon

				| {% include "conference_main/_navbar_menu_user.pug" %}

				li
					.nav-global-apps-dropdown-container
						button.js-dropdown-toggle(data-toggle-menu-id="nav-global-apps-menu")
							svg.nav-global-icon(height="100px", width="100px", viewBox="0 0 1000 1000")
								path(d="m 150.5,899 a 50,50 0 0 1 -49,-50 V 749 a 50,50 0 0 1 49,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 749 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 749 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m -598,-299 a 50,50 0 0 1 -49,-50 V 450 a 50,50 0 0 1 49,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 450 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 450 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m -598,-299 a 50,50 0 0 1 -49,-50 V 151 a 50,50 0 0 1 49,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 151 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z m 299,0 a 50,50 0 0 1 -50,-50 V 151 a 50,50 0 0 1 50,-50 h 100 a 50,50 0 0 1 50,50 v 100 a 50,50 0 0 1 -50,50 z")

						| {% include "_navbar_global_dropdown.html" %}
