| {% extends "conference_main/base_simple.pug" %}
| {% load static %}
| {% load thumbnail %}

| {% block page_title %}Attendees - {{ edition.title }}{% endblock %}

| {% block h1 %}Attendees - {{ edition.title }}{% endblock %}

| {% block header %}
| {% block jumbotron %}
| {% with title="Better Together" subtitle="The following attendees make<br>Blender Conference "|add:edition.path|add:" special." %}
| {% include "conference_main/components/hero.pug" with title=title subtitle=subtitle|safe show_gradient=True show_overlay=True %}
| {% endwith %}
| {% endblock jumbotron %}
| {% endblock header %}

| {% block content %}
.container
	.box
		| {% if attendees %}
		.row
			.col
				.attendees.py-4
					| {% for profile in attendees %}
					| {% if profile.is_public %}
					| {% include 'conference_main/components/attendee.pug' %}
					| {% endif %}
					| {% endfor %}
				| {% else %}
				.text-center.text-muted.p-5
					p.my-5 No publicly visible attendees yet.
				| {% endif %}
| {% endblock content %}
