| {% extends "conference_main/base_simple.pug" %}
| {% load crispy_forms_tags %}
| {% load filters %}
| {% load thumbnail %}
| {% load micawber_tags %}
| {% load static %}
| {% load conference_main %}
| {% load tickets %}

| {% block page_title %}{{ object.name }} — {{ object.edition.title }}{% endblock page_title %}

| {% block head_opengraph %}
meta(property='og:title', content='{{ object.name }} — {{ object.edition.title }}')
meta(name='twitter:title', content='{{ object.name }} — {{ object.edition.title }}')
| {% if object.description %}
meta(property='og:description', content='{{ object.description }}')
meta(name='twitter:description', content='{{ object.description }}')
| {% endif %}
| {% if object.picture %}
| {% thumbnail object.picture "1280x720" crop="center" format="JPEG" as picture %}
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{{ picture.url }}')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{{ picture.url }}')
| {% endthumbnail %}
| {% elif edition.thumbnail %}
meta(property='og:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
meta(name='twitter:image', content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ edition.thumbnail.url }}")
| {% else %}
meta(property='og:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
meta(name='twitter:image', content='{{request.scheme}}://{{request.META.HTTP_HOST}}{% static "images/bcon_thumbnail.jpg" %}')
| {% endif %}
| {% endblock head_opengraph %}

| {% block content %}
| {% is_attending_edition user object.edition as is_attending %}
.container.event-detail.mt-3
  | {% include "conference_main/components/location_style.pug" %}

  .row
    .col
      .box.mb-3.p-3
        | {% if permissions.can_change %}
        .mb-3.row
          .col-sm-8
            | {% include "conference_main/components/review_header_details.pug" %}
          .col-sm-4
            .d-flex
              .ml-auto
                .btn-row.justify-content-end
                  a.btn(
                    href="{% url 'presentation_update' edition_path=object.edition.path pk=object.pk %}")
                    i.i-edit
                    span Edit
                  a.btn(
                    href="{% url 'presentation_review' edition_path=object.edition.path pk=object.pk %}")
                    i.i-comment
                    span Review
                  | {% if request.user.is_superuser %}
                  a.btn.btn-admin(
                    href="{% url 'admin:conference_main_event_change' object.pk %}")
                    | Admin
                  | {% endif %}
        | {% endif %}

        | {% if object.recording  %}
        .video-container
          | {{ object.recording | oembed }}
        | {% endif %}

        .row.mb-3
          | {% if object.picture and not object.recording %}
          .col-md-4
            | {% thumbnail object.picture "480x270" crop="50%" format="JPEG" as picture %}
            a(href="{{ picture.url }}", target="_blank")
              img.rounded.img-fluid(src='{{ picture.url }}', alt="{{ object.name }}")
            | {% endthumbnail %}
          | {% endif %}

          div(class="col-md-{% if object.picture and not object.recording %}8{% else %}12{% endif %}")
            | {% if object.day and object.time %}
            .event-header.mb-3
              ul.event-description
                | {% if object.location.slug %}
                li.event-location(
                  style="color: hsl(var(--location-hue-{{ object.location.slug }}), 80%, var(--event-detail-location-color-l));")
                  | {{ object.location.slug | upper }}
                | {% endif %}

                | {% if object.category %}
                li.event-category
                  | {{ object.category | upper }}
                | {% endif %}

                | {% if object.duration_minutes %}
                li.event-duration
                  | {{ object.duration_minutes }} min
                | {% endif %}

                | {% if object.day.date and object.time %}
                li.event-date
                  a(href="{% url 'schedule' edition_path=edition.path %}&num;event-{{ object.id }}")
                    | {{ object.day.date | date:'l dS M' }} {{ object.time | time:'H:i' }}
                | {% endif %}

                li.divider

                | {% include "conference_main/components/event_buttons.pug" with event=object show_favorite=True %}
            | {% endif %}

            h2 {{ object.name }}

            | {% if object.description %}
            div {{ object.description | urlizetrunc:40 | linebreaks }}
            | {% endif %}

      | {% if speakers %}
      .row.mb-4
        .col-md-12
          //- Speakers.
          h4.pt-3.text-uppercase.text-muted
            | Speaker{{ object.speakers.all.count | pluralize }}

          ul.attendees-list
            | {% for speaker in speakers %}
            li.box
              .row
                .col-md-4
                  | {% include 'conference_main/components/attendee.pug' with profile=speaker size="medium" show_links=True show_admin=True is_landscape=True %}

                .col-md-8
                  | {% if speaker.bio %}
                  .attendee-bio
                    | {{ speaker.bio|truncatechars:400|linebreaks|urlizetrunc:80 }}

                    | {% if speaker.bio|length > 400 %}
                    a.btn.btn-sm(href="{% url 'profile_detail' pk=speaker.pk %}")
                      | Speaker Profile
                    | {% endif %}
                  | {% endif %}

                  | {{ speaker.events_per_edition }}
            | {% endfor %}
      | {% endif %}
| {% endblock content %}
