| {% for day, locations in events_per_day_per_location_with_range.events.items %}
h1 {{ day }}
table
  tr
    th Location
    th Time
    th Duration (min)
    th Name
    th Speakers
    th ID
    th Slides Format
    th Slides Downloaded
    th Processed
    th Published
  | {% for location, events in locations.items %}
  tr
    td
      h3 {{ location | upper }}
  | {% for event in events %}
  tr
    td
    td {{ event.time | date:'H:i'}}
    td {{ event.duration_minutes }}
    td
      | {% if request.user.is_staff %}
      a(href="{% url 'presentation_review' edition_path=event.edition.path pk=event.pk %}") {{ event.name }}
      | {% else %}
      span {{ event.name }}
      | {% endif %}
    td {% for speaker in event.speakers.all %}{{ speaker.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    td {{ event.id }}
  | {% endfor %}
  tr
    td
  | {% endfor %}
| {% endfor %}
