| {% extends "conference_main/base_simple.pug" %}
| {% load thumbnail %}
| {% load static %}
| {% load tickets %}

| {% block page_title %}Schedule - {{ edition.title }}{% endblock %}
| {% block h1 %}Schedule - {{ edition.title }}{% endblock %}

| {% block jumbotron %}{% endblock %}

| {% block content %}
| {% is_attending_edition user edition as is_attending %}
| {% include "conference_main/components/schedule_header_notice.pug" %}
| {% include "conference_main/components/location_style.pug" %}

.schedule-filters-container
  .row
    .col
      .d-flex.flex-column.flex-lg-row
        .row.flex-grow-1.mb-2.mb-lg-0
          .col.flex-grow-0
            div.schedule-filter-title Display
            a.btn(
              href="{% url 'schedule' edition_path=edition.path %}?display=horizontal",
              title="See the schedule in an horizontal layout")
              i.i-list

          .col.col-lg-3
            div.schedule-filter-title Category
            .schedule-filters
              | {% for category_slug, category_label in filters.category %}
              .schedule-filter.toggle(
                data-schedule-filter-type="category",
                data-schedule-filter-value="{{ category_slug }}",
                class="category-{{ category_slug }}")

                input(type="checkbox",
                  id="filter-category-{{ category_slug }}",
                  checked=true,
                  onchange="scheduleFilterToggle(event)",
                  autocomplete="off")

                label.btn(for="filter-category-{{ category_slug }}")
                  i.i-check
                  | {{ category_label }}
              | {% endfor %}

          .col.col-lg-6.flex-grow-1
            div.schedule-filter-title Location
            .schedule-filters
              | {% for location in filters.location %}
              style.
                .event-location-{{ location.slug }} label:hover {
                  background-color: hsla(var(--location-hue-{{ location.slug }}), 50%, 50%, 10%);
                  border-color: hsla(var(--location-hue-{{ location.slug }}), 50%, 50%, 20%);
                  color: hsl(var(--location-hue-{{ location.slug }}), 50%, 50%);
                }

                .event-location-{{ location.slug }} input:checked ~ label {
                  background-color: hsla(var(--location-hue-{{ location.slug }}), 50%, 50%, var(--schedule-filters-container-location-bg-color-l));
                  border-color: hsla(var(--location-hue-{{ location.slug }}), 50%, 50%, 20%);
                  color: hsl(var(--location-hue-{{ location.slug }}), 50%, var(--schedule-filters-container-location-color-l));
                }

                .event-location-{{ location.slug }} input:checked ~ label:hover {
                  background-color: hsla(var(--location-hue-{{ location.slug }}), 50%, 50%, 80%);
                  color: white;
                }

              .schedule-filter.toggle(
                data-schedule-filter-type="location",
                data-schedule-filter-value="{{ location.slug }}",
                class="event-location-{{ location.slug }}")

                input(type="checkbox",
                  autocomplete="off",
                  checked=true,
                  id="filter-location-{{ location.slug }}",
                  onchange="scheduleFilterToggle(event)"
                )

                label.btn(for="filter-location-{{ location.slug }}")
                  i.i-check
                  | {{ location.name }}
              | {% endfor %}


        .justify-content-between.row
          .col.flex-grow-0
            div.schedule-filter-title Filters
            button.btn.btn-link.px-0(
              onclick="scheduleFilterClear()",
              title="Clear filters")
              span Clear

          .col.flex-grow-0
            div.schedule-filter-title My Conference
            | {% if user.is_authenticated %}
            .schedule-filters
              | {% if is_attending %}
              .schedule-filter.filter-going(
                data-schedule-filter-type="going",
                data-schedule-filter-value="only-show-going")

                .toggle-bar-container
                  div.me-2 Going
                  label.toggle-bar(for="filter-going-only-show-going")
                    input(type="checkbox",
                      id="filter-going-only-show-going",
                      checked=false,
                      onchange="scheduleFilterToggle(event)",
                      autocomplete="off")
                    span.slider
              | {% else %}
              .schedule-filter.filter-favorite(
                data-schedule-filter-type="favorites",
                data-schedule-filter-value="only-show-favorites")

                .toggle-bar-container
                  div.me-2 Favorites
                  label.toggle-bar(for="filter-favorites-only-show-favorites")
                    input(type="checkbox",
                      id="filter-favorites-only-show-favorites",
                      checked=false,
                      onchange="scheduleFilterToggle(event)",
                      autocomplete="off")
                    span.slider
              | {% endif %}
            | {% else %}
            .schedule-filters
              .schedule-filter.filter-favorite
                a.btn.filter-favorite(href="{% url 'oauth:login' %}")
                  i.i-heart
                  span Favorites
            | {% endif %}

| {# Day toggles. Only shown on small screens. #}
.schedule-day-toggles.btn-group.btn-flex
  | {% for day in days %}
  button.btn-toggle.btn-flex.js-toggle-day(
    data-day-number="{{ day.number }}",
  )
    span {{ day.date | date:'l' }}
  | {% endfor %}

.schedule-container(class="{% if not user.is_staff %}status-{{ edition.schedule_status }}{% endif %}")
  .schedule
    .empty-time-cell

    | {# Only shows on large screens. To be fixed to the top on scroll. #}
    .days-header
      .empty-time-cell
        .time-cell-placeholder.js-time-fill
          | BCON{{ edition.path|slice:"2:" }}

      | {% for day in days %}
      .day-header(
        data-day-hour="{{ day.date | date:'d/m/y' }}",
        style="--day-number: {{ day.number }}")
        | {{ day.date | date:'l' }}
        span.date {{ day.date | date:'jS' }}
      | {% endfor %}

    .flex-row-break-lg

    | {% for time, events_per_day in events_per_time_per_day %}
    .time-header-lg.js-time-to-fill
      span {{ time | time:'H:i' }}

    //- Each day.
    | {% for day, events in events_per_day %}
    .event-cell.js-schedule-day.js-time-slot(
      data-day-number="{{ day.number }}",
      data-day-hour="{{ day.date | date:'d/m/y' }}, {{ time | time:'H:i' }}",
      data-no-events=(not events),
      style="--day-number: {{ day.number }}; --day-date: {{ day.date | date:'d' }}",
    )
      .time-header {{ time | time:'H:i'  }}

      //- Each event card.
      | {% for event in events %}
      a.event.js-time-slot(
        class="event-category-{{ event.category }}",
        data-day-hour="{{ day.date | date:'d/m/y' }}, {{ event.time | time:'H:i' }}",
        data-schedule-category="{{ event.category }}",
        data-schedule-location="{{ event.location.slug }}",
        href="{% url 'presentation_detail' edition_path=event.edition.path pk=event.pk %}",
        id="#event-{{ event.id }}",
        style="order: {{ event.location.order }}")

        .event-details
          | {% if event.picture %}
          .event-thumbnail
            | {% thumbnail event.picture "480x270" crop="50%" format="JPEG" as picture %}
            img(src="{{ picture.url }}", alt="{{ event.name }}")
            | {% endthumbnail %}
          | {% endif %}

          .event-details-info
            .event-header
              ul.event-description
                | {% if event.location.slug %}
                li.event-location(
                  style="color: hsl(var(--location-hue-{{ event.location.slug }}), 80%, var(--schedule-container-location-color-l));")
                  | {{ event.location.slug | upper }}
                | {% endif %}

                | {% if event.category %}
                li.event-category
                  | {{ event.get_category_display | upper }}
                | {% endif %}

                | {% if event.duration_minutes %}
                li.event-duration(title="{{ event.duration_minutes }} minutes long")
                  | {{ event.duration_minutes }} m
                | {% endif %}

                | {# Indicator for ongoing events. #}
                li.remarks

                li.divider

                | {% include "conference_main/components/event_buttons.pug" with without_login_button=True is_schedule=True %}

            .event-name.mt-2
              | {{ event.name }}

            .event-speakers
              | {% for speaker in event.speakers.all %}
              small {{ speaker.full_name }}{% if not forloop.last %}, {% endif %}
              | {% endfor %}

            | {% if event.tags.all %}
            .event-tags
              | {% for tag in event.tags.all %}
              .badge.badge-secondary.badge-sm(title="{{ tag.name }}")
                | {{ tag.name }}
              | {% endfor %}
            | {% endif %}
      | {% endfor %}
    | {% endfor %}
    .flex-row-break-lg.js-time-line-break.time-line-break
    | {% endfor %}
| {% endblock content %}

| {% block javascript-page %}
style.
  /* Disable smooth scrolling, it gets on the way of scrolling to ongoing events. */
  html {
    scroll-behavior: unset;
  }

script.
  // Disable browser scroll, so we can scroll to events currently going on.
  history.scrollRestoration = "manual";

  window.addEventListener("DOMContentLoaded", function() {
    scheduleFilterLoadFromCookie();
    scheduleDayLoadFromCookie();
    scheduleDayToggleButtons();
    scheduleHighlightCurrent("vertical");
  });

  // Stick .days-header container to the top of the page when scrolling.
  // So it's easy to see which day is each column. Only for big screens.
  // TODO: Real check for desktop size.
  if (window.innerWidth > 1023) {
    let $scheduleFilters = $('.schedule-filters-container');
    let $daysHeader = $('.days-header');

    let scheduleFiltersHeight = $scheduleFilters.outerHeight();
    let daysHeaderHeight = $daysHeader.height();
    let allHeadersHeight = scheduleFiltersHeight + daysHeaderHeight;

    let scheduleFiltersOffset = $scheduleFilters.offset();
    let $scheduleContainer = $('.schedule-container');

    const timeCells = document.querySelectorAll('.js-time-to-fill');
    let $timePlaceholder = $('.js-time-fill');

    // Recalculate height on load and resize, with many filters
    // they often wrap into multiple rows if the window is small.
    $(window).on("load resize",function(e){
      scheduleFiltersHeight = $scheduleFilters.outerHeight();
      daysHeaderHeight = $daysHeader.height();
      scheduleFiltersOffset = $scheduleFilters.offset();
    });

    $(window).scroll(function() {
      var scrolled = $(this).scrollTop();

      if (scrolled > scheduleFiltersOffset.top) {
        // Make filters fixed, and add margin to the container
        // to compensate the space previously used by the filters container.
        $scheduleFilters.addClass('is-fixed');

        // Make days header fixed, and position under the schedule filters.
        $daysHeader.addClass('is-fixed');
      } else {
        $scheduleFilters.removeClass('is-fixed');
        $scheduleContainer.css("margin-top", "0");

        $daysHeader.removeClass('is-fixed');
      }

      // Add/replace time placeholder in .days-header so we always know
      // what time is currently being covered by the filters/header.
      timeCells.forEach(function(el) {
        let offset = el.offsetTop - allHeadersHeight;
        let time = el.firstChild;

        if (scrolled > offset) {
          $timePlaceholder.text(time.innerHTML);
          $(el).addClass('is-in-scroll');
        } else {
          $(el).removeClass('is-in-scroll');
        }
      });
    });
  }
| {% endblock javascript-page %}
