| {% extends "conference_main/base_with_sidebar.pug" %}
| {% load crispy_forms_tags %}

| {% block content_main %}

.mb-3
	h2.d-inline Edit Presentation

	.btn-row.float-right
		| {% if request.user.is_staff %}
		a.btn(href="{% url 'presentation_review' edition_path=object.edition.path pk=object.pk %}")
			i.i-comment
			span Review
		| {% endif %}
		a.btn(href="{% url 'presentation_detail' edition_path=object.edition.path pk=object.pk %}")
			i.i-eye
			span View

form(action="{% url 'presentation_update' edition_path=object.edition.path pk=object.pk %}", method="post", enctype="multipart/form-data")
	.form-group
		| {% csrf_token %}
		| {{ form | crispy }}

	.d-flex
		button.btn.btn-primary.ml-auto(type='submit') Save Changes

| {% endblock content_main %}
