ul.bg-primary.pagination.py-2
  | {% if is_paginated and page_obj.number > 1 %}
  li.page-item.page-first
    a(href="?page=1") First
  | {% endif %}

  | {% if is_paginated and page_obj.has_previous %}
  li.page-item.page-prev
    a(href="?page={{ page_obj.previous_page_number }}")
      i.i-chevron-left
      |  Previous
  | {% endif %}

  li.page-item.page-current
    a(href="#") Page {{ page_obj.number }} of {{ paginator.num_pages }}

  | {% if is_paginated and page_obj.has_next %}
  li.page-item.page-next
    a(href="?page={{ page_obj.next_page_number }}")
      | Next
      i.i-chevron-right
  | {% endif %}

  | {% if is_paginated and page_obj.number < paginator.num_pages %}
  li.page-item.page-last
    a(href="?page={{ paginator.num_pages }}") Last
  | {% endif %}