| {% load static %}
| {% load thumbnail %}
| {% load filters %}

div
	a.attendee(
		class="{% if is_landscape %}is-landscape{% endif %}",
		href="{% url 'profile_detail' pk=profile.pk %}",
		title="{{ profile.full_name }}")
		.attendee-portrait(class="{% if size %}size-{{ size }}{% endif %}")
			| {% thumbnail profile.portrait "200x200" crop="50%" format="JPEG" as portrait %}
			img(src="{{ portrait.url }}", alt="Portrait of {{ profile.full_name }}")
			| {% empty %}
			img(src="{% static 'images/default_user_avatar.png' %}", alt="Portrait of {{ profile.full_name }}")
			| {% endthumbnail %}

		.attendee-details
			.attendee-name
				| {{ profile.full_name }}

			| {% if profile.title %}
			.attendee-title
				| {{ profile.title }}
			| {% endif %}

			| {% if profile.company %}
			.attendee-company.mt-2
				| {{ profile.company }}
			| {% endif %}

			| {% if profile.country %}
			.attendee-company.mt-1
				| {{ profile.get_country_display }}
			| {% endif %}

	| {% if show_links or show_admin %}
	.btn-row-fluid.my-3
		| {% if profile.url %}
		a.btn.btn-sm(href="{{ profile.url }}", target="_blank", rel="nofollow")
			i.i-link
			span {{ profile.url|website_hostname }}
		| {% endif %}

		| {% if request.user.id == profile.id %}
		a.btn.btn-sm(href="{% url 'profile_update' %}")
			i.i-edit
			span Edit Profile
		| {% endif %}

		| {% if request.user.is_superuser %}
		a.btn.btn-sm.btn-admin(href="{% url 'admin:conference_main_profile_change' profile.pk %}")
			i.i-user
			span User

		| {% if profile.order_admin_url %}
		a.btn.btn-sm.btn-admin(href="{{ profile.order_admin_url }}")
			i.i-ticket
			span Order
		| {% endif %}
		| {% endif %}
	| {% endif %}
