| {% if request.user.is_superuser and events_unscheduled_count %}
a.alert.alert-fluid.alert-info.text-center(
  href="{% url 'admin:conference_main_event_changelist' %}?edition__id__exact={{edition.id}}&is_scheduled=No")
  | There {{ events_unscheduled_count|pluralize:"is,are" }} {{ events_unscheduled_count }}
  | unscheduled event{{ events_unscheduled_count|pluralize }}
| {% endif %}

| {% if edition.schedule_status == 'proposed' %}
.alert.alert-fluid.alert-warning
  | This is a proposed version of the schedule. The final version will be available 2 weeks before the event.
| {% endif %}
