| {% load static %}
| {% load thumbnail %}

.speaker-portrait(class="{% if size %}size-{{ size }}{% endif %}")
  | {% thumbnail user.portrait "200x200" crop="50%" format="JPEG" as portrait %}
  img(src="{{ portrait.url }}", alt="Portrait of {{ user.full_name }}")
  | {% empty %}
  img(src="{% static 'images/default_user_avatar.png' %}", alt="Portrait of {{ user.full_name }}")
  | {% endthumbnail %}