
| {% if edition_sponsors %}
.sponsors-container.theme-light
  .container
    p {{ edition.title }} is made possible thanks to the generous contributions of our sponsors:

    | {% for level, sponsors in edition_sponsors.items %}
    .sponsors-group
      .sponsor-level
        span {{ level }}

      .sponsors-list
        | {% for sponsor in sponsors %}
        | {% if sponsor.logo %}
        .sponsor-item
          | {% if sponsor.url %}
          a(href="{{ sponsor.url }}", title="{{ sponsor.name }}")
            img(src="{{ sponsor.logo.url }}", alt="{{ sponsor.name }}")
          | {% else %}
          img(src="{{ sponsor.logo.url }}", alt="{{ sponsor.name }}")
          | {% endif %}
        | {% endif %}
        | {% endfor %}
    | {% endfor %}
| {% endif %}
