| {% load tickets %}

| {% is_attending_edition user edition as is_attending %}
| {% if user.is_anonymous and not is_attending %}
| {% if edition.ticket_sale_status in 'sold_out,sold_out_waiting_list' %}
.row
  .col-md-12
    .alert.alert-info.my-3
      h2.pt-3 {{ edition.title }} is sold out
      | {% if edition.ticket_sale_status == 'sold_out_waiting_list' %}
      p.
        To join the waiting list please #[a(href="mailto:{{ edition.support_email }}") send us an email]. There will be no tickets available at the
        registration desk. If you can't attend let us know, we will refund the full amount.
      | {% elif edition.ticket_sale_status == 'sold_out' %}
      p.
        The event is completely sold out, and there will be no tickets available at the
        registration desk. {% if edition.live_url %} You can watch #[a(href="{{ edition.live_url }}") {{ edition.title }} online].{% endif %}
      | {% endif %}
| {% endif %}
| {% endif %}
