| {% extends "conference_main/base_with_sidebar.pug" %}
| {% load crispy_forms_tags %}

| {% block content_main %}
h2.d-inline
	| Profile

a.btn.float-right.d-inline(href="{% url 'profile_detail' pk=user.profile.pk %}")
	i.i-eye
	span View Profile

.alert.alert-info.my-4.p-3
	| Some of the information below (name, title, company and country) will be displayed on your badge.

	.mt-3
		| Make sure to review and update it, if necessary, at least a month before the conference,
		| so that we can have your badge ready for you at the registration desk.

form(action="{% url 'profile_update' %}", method="post", enctype="multipart/form-data")
	.form-group.form-group-profile
		| {% csrf_token %}
		| {{ form | crispy }}

	.d-flex
		button.btn.btn-primary.px-5(
			type='submit',
			class="js-post-create-btn") Save Changes

| {% endblock content_main %}
