| {% extends "conference_main/base_simple.pug" %}
| {% load static %}

| {% block page_title %}{{ flatpage.title }}{% endblock page_title %}

| {% block jumbotron %}
div.jumbotron.jumbotron-fluid.small-header.mb-0.pb-0(style="background: linear-gradient(180deg, #FDE8E7 0%, rgba(224, 240, 255, 0) 100%);")
  .container
    .featured-content.text-center.pt-5.pb-3
      img.mb-0(src="{% static 'images/bcon20/bcon20_logo_dark.svg' %}").mb-3
| {% endblock jumbotron %}

| {% block content %}
| {% if request.user.is_superuser %}
.d-flex.justify-content-end.p-3
  a.btn.btn-admin(href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}")
    i.i-edit
    span Edit
| {% endif %}

.container.mb-5
  .row
    .col-md-8.offset-md-2
      | {{ flatpage.content }}

| {% endblock content %}
