| {% extends "conference_main/base_fullscreen.pug" %}
| {% load thumbnail %}

| {% block content %}
.album-container-fullscreen
	header
		a.edition-logo-header.me-4(href="/")
			| {% include "conference_main/_navbar_logo.pug" %}

		| {% if user.is_anonymous and album.is_upload_open %}
		a(href="{% url 'oauth:login' %}").d-block.p-3.text-decoration-underline
			| Log in to upload photos
		| {% endif %}

		| {% if can_upload_photos or request.user.is_staff %}
		.btn-row
			| {% if can_upload_photos %}
			a.btn.btn-accent(href="{{ album.get_upload_url }}")
				i.i-upload
				span Upload Photos
			| {% endif %}

			| {% if request.user.is_staff %}
			.whoosh-container
				a.whoosh(href="{% url 'admin:conference_main_album_change' album.pk %}")
					i.i-edit
				a.whoosh(href="{% url 'admin:conference_main_photo_changelist' %}?albums__id__exact={{ album.pk }}&edition__id__exact={{ edition.pk }}")
					i.i-camera
			| {% endif %}
		| {% endif %}

		| {% if album.license %}
		span.mx-3.text-muted(title="All photos are {{ album.license }}") {{ album.license }}
		| {% endif %}

	| {% include "conference_main/components/album-pagination.pug" %}

	.photo-list
		| {% for photo in photos %}
		a.photo-list-item(href="{{ photo.file.url }}")
			img(src="{{ photo.thumbnail_m_url }}")
			.photo-credit {% firstof photo.user.profile.full_name photo.user.username %}
		| {% empty %}
		.photo-list-empty
			| There are no photos in this album yet.
			| {% if can_upload_photos %}
			a(href="{{ album.get_upload_url }}") Upload some!
			| {% endif %}
		| {% endfor %}

	| {% include "conference_main/components/album-pagination.pug" %}
| {% endblock content %}
