| {% extends "conference_main/base_fullscreen.pug" %}
| {% load pipeline %}
| {% load conference_main %}

| {% block content %}
| {% include "conference_main/components/location_style.pug" %}

.panel-container
  section.panel-events-list.panel-ajax-refresh(
    data-refresh-url="{% url 'panel_events' edition_path=edition.path %}?day={{ request.GET.day }}&hour={{ request.GET.hour }}",
    data-refresh-timeout="5")

  section.panel-social
    header
      span
        | {% if edition.twitter_tag %}
        a(href="https://twitter.com/search?q=%23{{ edition.twitter_tag }}&src=typed_query",
          target="_blank",
          title="Follow the hashtag {{ edition.twitter_tag }} on Twitter")
          | &num;{{ edition.twitter_tag }}
        | {% else %}
        | #BCON
        | {% endif %}
      span @BlenderConf
    .panel-ajax-refresh(
      data-refresh-url="{% url 'panel_tweets' edition_path=edition.path %}",
      data-refresh-timeout="45")
| {% endblock content %}

| {% block javascript-extra %}
| {% javascript 'panel' %}
| {% endblock javascript-extra %}
