| {% extends "conference_main/base_fullscreen.pug" %}
| {% load pipeline %}
| {% load conference_main %}

| {% block content %}
| {% include "conference_main/components/location_style.pug" %}

.panel-container.panel-location
  ul.board-events(
    style="
      background-color: hsla(var(--location-hue-{{ location.slug }}), 90%, 70%, .4);
      border-color: hsla(var(--location-hue-{{ location.slug }}), 90%, 70%, .4);")

    li.header(style="background-color: hsla(var(--location-hue-{{ location.slug }}), 90%, 70%, .4);")
      .board-e-location
        strong {{ location.name|upper }}

      .board-date {{ date|date:"l jS" }}
      .board-logo {% include "conference_main/_navbar_logo.pug" with show_date=True %}

    | {% for event in events %}
    li(
      style="
        border-color: hsla(var(--location-hue-{{ location.slug }}), 60%, 20%, .76);")

      .board-e-time
        strong {{ event.time|date:'H:i' }}

      .event-meta
        .board-e-name
          strong(
            style="{% if event.is_ongoing %}color: hsl(var(--location-hue-{{ location.slug }}), 100%, 70%);{% endif %}")
            | {{ event.name }}

        | {% if event.speakers.all %}
        .board-e-speakers
          span {% for speaker in event.speakers.all %}{{ speaker }}{% if not forloop.last %},{% endif %} {% endfor %}
        | {% endif %}

      | {% if event.duration_minutes %}
      .board-e-duration
        span {{ event.duration_minutes }}m
      | {% endif %}
    | {% endfor %}
| {% endblock content %}


